{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon"  type="image/x-icon" />

    <title>Traffic Control - Your Safety our Responsibility</title>

    <!--=== Bootstrap CSS ===-->
    <link href={% static '/css/bootstrap.min.css' %} rel="stylesheet">
    <!--=== Vegas Min CSS ===-->
    <link href={% static '/css/plugins/vegas.min.css' %} rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href={% static '/css/plugins/slicknav.min.css' %} rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href={% static '/css/plugins/magnific-popup.css' %} rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href={% static '/css/plugins/owl.carousel.min.css' %} rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href={% static '/css/plugins/gijgo.css' %} rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href={% static '/css/font-awesome.css' %} rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href={% static '/css/reset.css' %} rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href={% static '/style.css' %} rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href={% static '/css/responsive.css' %} rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loader-active">
{%block content%}
    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src={% static '/img/preloader.gif' %} alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->

    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i> Bengaluru, Karnataka
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +91 9656845677
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> 08.00 am - 08.00 pm
                    </div>
                    <!--== Single HeaderTop End ==-->

                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->

        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    
                    </div>
                    <!--== Logo End ==-->

                    <!--== Main Menu Start ==-->
                    <div class="col-lg-8 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li class="active"><a href="#">Home</a>
                                   
                                </li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="services.html">Gallery</a></li>
                               <!-- <li><a href="#">Routes</a>
                                    <ul>
                                        <li><a href="car-left-sidebar.html">Car Left Sidebar</a></li>
                                        <li><a href="car-right-sidebar.html">Car Right Sidebar</a></li>
                                        <li><a href="car-without-sidebar.html">Car Without Sidebar</a></li>
                                        <li><a href="car-details.html">Car Details</a></li>
                                    </ul>
                                </li>-->
                                <li><a href="{% url 'contact' %}">Contacts</a></li>
								<li><a href="{%url 'login'%}">Login</a></li>
								
                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    <!--== Header Area End ==-->

    <!--== SlideshowBg Area Start ==-->
    <section id="slideslow-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slideshowcontent">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <h1>Traffic Devta!</h1>
                                <p>Your Safety, Our Responsibility</p>

                                <div class="book-ur-car">
                                    
                                        <div class="pick-location bookinput-item">
                                            <select class="custom-select">
                                              <option selected>Maps</option>
                                     
                                            </select>
                                        </div>

                                        

										<div class="car-choose bookinput-item">
                                           <li><a href="{% url 'view_news'%}">News</a>
                                        </div>

                                        <div class="car-choose bookinput-item">
                                           <li><a href="{% url 'view_diversion'%}">Diversions</a>
                                        </div>

                                        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== SlideshowBg Area End ==-->

    <!--== About Us Area Start ==-->
    <section id="about-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title Start -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>About us</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>This Traffic Management System is primarily based on Intelligent Transportation System domain for improving traffic flow. Traffic Devta! is a top-down management perspective that integrates technology primarily to improve the flow of vehicle traffic and improve safety. <br> Following are the primary goals : <br>

    Increase transportation system efficiency,<br>
    Enhance mobility,<br>
    Improve safety,<br>
    Reduce fuel consumption and environmental cost,<br>
    Increase economic productivity.<br>
    </p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <!-- About Content Start -->
                <div class="col-lg-6">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="about-content">
                                <p>Several techniques exist to reduce delay of traffic. Generally the algorithms attempt to reduce delays (user time), stops, or some other measure of effectiveness. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- About Content End -->

                <!-- About Video Start -->
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src={% static '/img/home-2-about.png' %} alt="JSOFT">
                    </div>
                </div>
                <!-- About Video End -->
            </div>

           
    

    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src={% static '/js/jquery-3.2.1.min.js' %}></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src={% static '/js/jquery-migrate.min.js' %}></script>
    <!--=== Popper Min Js ===-->
    <script src={% static '/js/popper.min.js' %}></script>
    <!--=== Bootstrap Min Js ===-->
    <script src={% static '/js/bootstrap.min.js' %}></script>
    <!--=== Gijgo Min Js ===-->
    <script src={% static '/js/plugins/gijgo.js' %}></script>
    <!--=== Vegas Min Js ===-->
    <script src={% static '/js/plugins/vegas.min.js' %}></script>
    <!--=== Isotope Min Js ===-->
    <script src={% static '/js/plugins/isotope.min.js' %}></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src={% static '/js/plugins/owl.carousel.min.js' %}></script>
    <!--=== Waypoint Min Js ===-->
    <script src={% static '/js/plugins/waypoints.min.js' %}></script>
    <!--=== CounTotop Min Js ===-->
    <script src={% static '/js/plugins/counterup.min.js' %}></script>
    <!--=== YtPlayer Min Js ===-->
    <script src={% static '/js/plugins/mb.YTPlayer.js' %}></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src={% static '/js/plugins/magnific-popup.min.js' %}></script>
    <!--=== Slicknav Min Js ===-->
    <script src={% static '/js/plugins/slicknav.min.js' %}></script>

    <!--=== Mian Js ===-->
    <script src={% static '/js/main.js' %}></script>
{%endblock %}
</body>

</html>
